// Bootstrap the base styling frameworks.
@import bourbon
@import base/base
@import neat

// Sections are reusable content regions.
// @import sections/splash

// Pages describe the foundational styles of a given page.
// @import pages/layout

body
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-content: center
  align-items: center

.land
  fill: lighten($base-font-color, 15%)

.bubble circle
  fill: lighten($byline-color, 10%)
  fill-opacity: .5
  stroke: lighten($base-font-color, 20%)
  stroke-width: 0.5px
  transition: all 0.5s ease

  &:hover
    fill: lighten($byline-color, 15%)
    fill-opacity: .4
    stroke-width: 1px

.border
  fill: none
  stroke: lighten($base-font-color, 25%)
  stroke-linejoin: round
  stroke-linecap: round

.county
  fill: none
  stroke: lighten($base-font-color, 25%)
  stroke-linejoin: round
  stroke-linecap: round

.legend circle
  fill: none
  stroke: #ccc

.legend text
  fill: #777
  font: 10px sans-serif
  text-anchor: middle
